<div class="header-component" [ngStyle]="{'background-color': backgroundColor, 'color': color}">
    <h1>{{title}}</h1>
    <h2>{{date}}</h2>
    <p *ngIf="textArea == ''">El texto está vacío</p>
    <input type="text" [placeholder]="placeholder" id="input"[(ngModel)] = "textArea">
    <button [disabled]="isDisabled" (click)="addElement()">Este botón a veces no funciona</button>
    <button (click)="disableButton()">Este botón anula al anterior</button>
    <p>{{textArea}}</p>
    <ul>
        <li class="default" [ngClass]="{odd: i%2 == 0}" *ngFor="let element of elements; let i = index">{{element}}</li>
    </ul>

    <button (click)="enableDarkMode()">{{darkText}}</button>
</div>